
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1{
    text-align: center;
}

body {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

img{
    border-radius: 10px;
    height: 100px;
    vertical-align: middle;
}

main{
    min-height: calc(100vh - 42px);
}

header {
    background-color: gray;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin: 0;
    line-height: 0; 
    padding: 50px;
}

nav {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    position: relative; 
    top: -2px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0c040;
}


div {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

div h2 {
    font-size: 24px;
    color: #222;
    margin-bottom: 10px;
}

div p {
    color: #555;
    margin-bottom: 8px;
}

div img {
    margin-top: 10px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;

}

footer p {
    margin: 0;
    font-size: 14px;
}



#create-blog-form, #sign-in-form, #create-account-form, #logged-in-form, #edit-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 25px;
    justify-content: center; 
    align-items: center;       
}

input, textarea, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table thead th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Style for buttons */
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

a{
    text-decoration: none;
}

#event-post{
    text-align: center;
}

#view-blog{
    text-align: center;
}
